
@{
    ViewData["Title"] = "PasswordChange";
}

@model PasswordChangeViewModel

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<div class="col-md-6 offset-md-3">
    <h2>Parola Değiştirme</h2>

    @if (TempData["SuccessMesssage"]!=null)
    {
        <div class="alert alert-success" role="alert">
         @TempData["SuccessMesssage"]
        </div>

    }
       <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
     
        </div>
    <div class="row mb-3">
        <form  asp-action="PasswordChange" method="post">

               <div class="mb-3">
                <label for="Phone" class="form-label" asp-for="PasswordOld"></label>
                <input asp-for="PasswordOld" class="form-control">
                 <span class=" text-danger" asp-validation-for="PasswordOld"></span>
              </div>

               <div class="mb-3">
                <label for="Password" class="form-label" asp-for="PasswordNew"></label>
                <input asp-for="PasswordNew" class="form-control">
                 <span class=" text-danger" asp-validation-for="PasswordNew"></span>
              </div>

               <div class="mb-3">
                <label for="PasswordConfirm" class="form-label" asp-for="PasswordNewConfirm"></label>
                <input asp-for="PasswordNewConfirm" class="form-control">
                 <span class=" text-danger" asp-validation-for="PasswordNewConfirm"></span>
              </div>

              <button type="submit" class="btn btn-primary">Değiştir</button>
        </form>

    </div>
  
</div>

