
@{
    ViewData["Title"] = "SingUp";
}
@model SingUpViewModel

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<div class="col-md-6 offset-md-3">
    <h2>Kullanıc Kayıt Formu</h2>

    @if (TempData["SuccessMesssage"]!=null)
    {
        <div class="alert alert-success" role="alert">
         @TempData["SuccessMesssage"]
        </div>

    }
       <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
     
        </div>
    <div class="row mb-3">
        <form asp-controller="Home" asp-action="SingUp" method="post">
              <div class="mb-3">
                <label for="UserName" class="form-label" asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control">
                <span class=" text-danger" asp-validation-for="UserName"></span>
              </div>

               <div class="mb-3">
                <label for="Email" class="form-label" asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
                 <span class=" text-danger" asp-validation-for="Email"></span>
              </div>

               <div class="mb-3">
                <label for="Phone" class="form-label" asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control">
                 <span class=" text-danger" asp-validation-for="Phone"></span>
              </div>

               <div class="mb-3">
                <label for="Password" class="form-label" asp-for="Password"></label>
                <input asp-for="Password" class="form-control">
                 <span class=" text-danger" asp-validation-for="Password"></span>
              </div>

               <div class="mb-3">
                <label for="PasswordConfirm" class="form-label" asp-for="PasswordConfirm"></label>
                <input asp-for="PasswordConfirm" class="form-control">
                 <span class=" text-danger" asp-validation-for="PasswordConfirm"></span>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
  
</div>

