
@{
    ViewData["Title"] = "UserList";
      Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model List<UserViewModel>

<h1>UserList</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">User Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>

      @foreach (var item in Model)
        {
           <tr>
              <th scope="row">1</th>
              <td>@item.Id>td>
              <td>@item.Name</td>
              <td>@item.Email</td>
            </tr>        
        }
 
  </tbody>
</table>